* {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  height: 55px;
  background: #f55a5a;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navbar > img {
  width: 24px;
  height: 24px;
  filter: invert(100%);
  padding: 7px;
}

.navbar > p {
  width: 109px;
  height: 16px;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-block: 60px;
}

.content>hr{
  border: none;
  background-color: rgb(204, 204, 204);
  height: 1px;
}


.image > img {
  width: 185px;
  height: 225px;
  border-radius: 5px;
  object-fit: cover;
}

.content {
  margin-left: 70px;
}

.content > h1 {
  margin: 0px;
  height: 40px;
  font-weight: 700;
  font-size: 34px;
  color: #2b283a;
  margin-bottom: 15px;
}

.date {
  width: 319px;
  font-weight: 700;
  font-size: 14px;
  color: #2b283a;
}

.location {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.location > img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  object-fit: contain;
}

.country {
  font-weight: 400px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
}

.location > a {
  color: #918e9b;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  margin-inline: 12px;
}

.description {
  margin: 0px;
  width: 700px;
  height: 45px;
  left: 184px;
  top: 203px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #2b283a;
}
